node_modules/
app/js
app/main.js
app/server.js
.shadow-cljs/
sqlite*
/target
/checkouts
/src/gen

pom.xml
pom.xml.asc
*.iml
*.jar
*.log
.shadow-cljs
.idea
.lein-*
.nrepl-*
.DS_Store

.hgignore
.hg/
.clj-kondo
.calva
.devcontainer/devcontainer.json
