;; shadow-cljs configuration
{:source-paths
 ["src/main"
  "src/test"]

 :dependencies
 []

 :builds
 {:main
  {:target :node-script
   :output-to "app/main.js"
   :main vstry.electron.core/main}

  :ui
  {:target :browser
   :output-dir "app/js"
   :asset-path "js"

   :modules
   {:ui {:entries [vstry.ui.core]}}

   :devtools
   {:before-load vstry.ui.core/stop
    :after-load vstry.ui.core/start
    :http-root "app"
    :http-port 3003}}
  }}