;; shadow-cljs configuration
{:source-paths
 ["src/main"
  "src/test"]

 :dependencies
 [[reagent "0.10.0"]
  [binaryage/devtools "0.9.10"]]

 :builds
 {:main
  {:target :node-script
   :output-to "app/main.js"
   :main refraction.electron.main/main}

  :server
  {:target :node-script
   :output-to "app/server.js"
   :main refraction.server/main

   :devtools
   {:before-load refraction.server/stop
    :after-load  refraction.server/start}}

  :ui
  {:target :browser
   :output-dir "app/js"
   :asset-path "js"

   :modules
   {:ui {:entries [refraction.ui.app]
         :init-fn refraction.ui.app/init}}

   :devtools
   {:before-load refraction.ui.app/stop
    :after-load refraction.ui.app/start
    :http-root "app"
    :http-port 3003}}}}
